
<div class="cursor" id="c1"></div>
<div class="cursor2" id="c2"></div>

<style>
    .cursor {
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 100%;
        position: fixed;
        transition: 500ms ease;
        transition-property: width, height, background-color;
        pointer-events: none;
        z-index: 999;
        mix-blend-mode: exclusion;
        top:0;
        left:0;
    }

    .cursor2 {
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: 2px solid #f492f0;
        border-radius: 100%;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        position: fixed;
        transition: 500ms ease;
        transition-property: width, height, border;
        pointer-events: none;
        z-index: 999;
        top:0;
        left:0;
        mix-blend-mode: exclusion;
    }

    .cursor2.active {
        width: 60px;
        height: 60px;
        border: 2px solid white;
    }

    .cursor.active {
        width: 40px;
        height: 40px;
        background-color: #f492f0;
    }


</style>

<script>
    const cursor1 = document.getElementById("c1");
    const cursor2 = document.getElementById("c2");

    document.onmousemove = (e) => {
        if (!cursor1 || !cursor2) return;
        const cursor1Height = cursor1?.offsetHeight ?? 20;
        const cursor1Width = cursor1?.offsetWidth ?? 20;

        const cursor2Height = cursor2?.offsetHeight ?? 40;
        const cursor2Width = cursor2?.offsetWidth ?? 40;

        setTimeout(() => {
            cursor1.style.transform = `translateX(${
                e.clientX - cursor1Width / 2
            }px) translateY(${e.clientY - cursor1Height / 2}px)`;
        }, 50);

        setTimeout(() => {
            cursor2.style.transform = `translateX(${
                e.clientX - cursor2Width / 2
            }px) translateY(${e.clientY - cursor2Height / 2}px)`;
        }, 100);



        if (e.target?.tagName === "A" || e.target?.tagName === "BUTTON" || e.target?.tagName === "INPUT" || e.target?.tagName === "TEXTAREA" || e.target?.tagName === "IMG" || e.target.tagName === "svg" || e.target.tagName === "CODE" || e.target.classList.contains("cursor-pointer") || e.target?.parentElement?.tagName === "A" || e.target?.parentElement?.tagName === "BUTTON" || e.target?.parentElement?.tagName === "INPUT" || e.target?.parentElement?.tagName === "TEXTAREA" || e.target?.parentElement?.tagName === "IMG" || e.target?.parentElement?.tagName === "svg" || e.target?.parentElement?.tagName === "CODE" || e.target?.parentElement?.classList.contains("cursor-pointer")) {
            cursor1.classList.add("active");
            cursor2.classList.add("active");
        } else {
            cursor1.classList.remove("active");
            cursor2.classList.remove("active");
        }
        
    };

    document.onmousedown = () => {
        cursor1.classList.add("active");
        cursor2.classList.add("active");
    };
    document.onmouseup = () => {
        cursor1.classList.remove("active");
        cursor2.classList.remove("active");
    };

        /* remove the cursor for mobile */

    if (window.innerWidth < 768) {
        cursor1?.remove();
        cursor2?.remove();

        document.onmousemove = null;
        document.onmousedown = null;
        document.onmouseup = null;
    }

</script>
